/*

All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 310).

The 'supports' rule will only run if your browser supports CSS grid.

Flexbox and floats are used as a fallback so that browsers which don't support grid will still recieve a similar layout.

*/

/* Base Styles */

/* :root {
  font-size: 10px;
} */

*,
*::before,
*::after {
    box-sizing: border-box;
}
/*
body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
} */

img {
    display: block;
}

/* .container {
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
} */

/* .btn {
    display: inline-block;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

.btn:focus {
    outline: 0.5rem auto #4d90fe;
} */

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

/* Profilee Section */

/* .profilee {
    padding: 5rem 0;
} */

.profilee::after {
    content: "";
    display: block;
    clear: both;
}

.profilee-image {
    float: left;
    width: calc(33.333% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}

.profilee-image img {
    border-radius: 50%;
}

.profilee-user-settings,
.profilee-stats,
.profilee-bio {
    float: left;
    width: calc(66.666% - 2rem);
}

.profilee-user-settings {
    margin-top: 1.1rem;
}

.profilee-user-name {
    display: inline-block;
    font-size: 2rem;
    font-weight: 300;
}

.profilee-edit-btn {
    font-size: 1rem;
    line-height: 1.8;
    border: 0.1rem solid #dbdbdb;
    border-radius: 0.3rem;
    padding: 0 2.4rem;
    margin-left: 2rem;
}

.profilee-settings-btn {
    font-size: 1rem;
    margin-left: 1rem;
}

.profilee-stats {
    margin-top: 2.3rem;
    margin-left: -40px !important;
}

.profilee-stats li {
    display: inline-block;
    font-size: 1rem;
    line-height: 1.5;
    margin-right: 2rem;
    cursor: pointer;
}

.profilee-stats li:last-of-type {
    margin-right: 0;
}

.profilee-bio {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.3rem;
}

.profilee-real-name,
.profilee-stat-count,
.profilee-edit-btn {
    font-weight: 600;
}

/* Gallery Section */

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding-bottom: 3rem;
}

.gallery-item {
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    color: #fff;
    cursor: pointer;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-info {
    display: none;
}

.gallery-item-info li {
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
}

.gallery-item-likes {
    margin-right: 2.2rem;
}

.gallery-item-type {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.fa-clone,
.fa-comment {
    transform: rotateY(180deg);
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Loader */

.loader {
    width: 5rem;
    height: 5rem;
    border: 0.6rem solid #999;
    border-bottom-color: transparent;
    border-radius: 50%;
    margin: 0 auto;
    animation: loader 500ms linear infinite;
}

/* Media Query */

@media screen and (max-width: 40rem) {
    .profilee {
        display: flex;
        flex-wrap: wrap;
    }

    .profilee::after {
        display: none;
    }

    .profilee-image,
    .profilee-user-settings,
    .profilee-bio,
    .profilee-stats {
        float: none;
        width: auto;
    }

    .profilee-image img {
        width: 7.7rem;
    }

    .profilee-user-settings {
        flex-basis: calc(100% - 10.7rem);
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
    }

    .profilee-user-name {
        font-size: 2rem;
    }

    .profilee-edit-btn {
        order: 1;
        padding: 0;
        text-align: center;
        margin-top: 1rem;
    }

    .profilee-edit-btn {
        margin-left: 0;
    }

    .profilee-bio {
        font-size: 1rem;
        margin-top: 1.5rem;
    }

    .profilee-edit-btn,
    .profilee-bio,
    .profilee-stats {
        flex-basis: 100%;
    }

    .profilee-stats {
        order: 1;
        margin-top: 1.5rem;
    }

    .profilee-stats ul {
        display: flex;
        text-align: center;
        padding: 1.2rem 0;
        border-top: 0.1rem solid #dadada;
        border-bottom: 0.1rem solid #dadada;
    }

    .profilee-stats li {
        font-size: 1rem;
        flex: 1;
        margin: 0;
    }

    .profilee-stat-count {
        display: block;
    }
}

/* Spinner Animation */

@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}

/*

The following code will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox & floated styling.

*/

@supports (display: grid) {
    .profilee {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 3rem;
        align-items: center;
    }

    .profilee-image {
        grid-row: 1 / -1;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        grid-gap: 2rem;
    }

    .profilee-image,
    .profilee-user-settings,
    .profilee-stats,
    .profilee-bio,
    .gallery-item,
    .gallery {
        width: auto;
        margin: 0;
    }

    @media (max-width: 40rem) {
        .profilee {
            grid-template-columns: auto 1fr;
            grid-row-gap: 1.5rem;
        }

        .profilee-image {
            grid-row: 1 / 2;
        }

        .profilee-user-settings {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: 1rem;
        }

        .profilee-edit-btn,
        .profilee-stats,
        .profilee-bio {
            grid-column: 1 / -1;
        }

        .profilee-user-settings,
        .profilee-edit-btn,
        .profilee-settings-btn,
        .profilee-bio,
        .profilee-stats {
            margin: 0;
        }
        .profilee-stats {
            margin-left: -15px !important;
        }
    }
}

.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;
}
.avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}
.avatar-upload .avatar-edit input {
    display: none;
}
.avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #ffffff;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
    content: "\f040";
    font-family: "FontAwesome";
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}
.avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #f8f8f8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
